<div class="main">
  <div class="container">
    <div class="box"></div>
    <div class="container-forms">
      <div class="container-info">
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                Have an account?
              </p>
              <div class="btn">
                Log in
              </div>
            </div>
          </div>
        </div>
        <div class="info-item">
          <div class="table">
            <div class="table-cell">
              <p>
                Don't have an account?
              </p>
              <div class="btn">
                Sign up
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-form">
        <div class="form-item log-in">
          <div class="table">
            <div class="table-cell">
            <form #logInForm="ngForm" (ngSubmit)="onLogin(logInForm)">
              <input type="text" id="userName1" ngModel name="username" placeholder="Username" required/>
              <input type="password" id="passWord1" ngModel name="password" placeholder="Password" required/>
              <button style = "width: 90px;" class="btn" type="submit" [disabled]="!logInForm.valid">Log in</button>
            </form>
            </div>
          </div>
        </div>
        <div class="form-item sign-up">
          <div class="table">
            <div class="table-cell">
                <form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
                    <input type="email" id="email" ngModel name="email" placeholder="Email" required email/>
                    <input type="text" id="fullName" ngModel name="fullName" placeholder="Full Name" required/>
                    <input type="text" id="userName2" ngModel name="username" placeholder="Username" required/>
                    <input type="password" id="passWord2" ngModel name="password" placeholder="Password" required minlength="6"/>
                    <button style = "width: 90px;" class="btn" type="submit" [disabled]="!signUpForm.valid">Sign up</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>