@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

.root__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: background 300ms linear;
    background-image: linear-gradient(to top, #5ee7df 0%, #66a6ff 100%);
  }
  
  .root__container-dark {
    /*background: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
    background: linear-gradient(to bottom, #372865, #000000);
  }
   
  
  /*
  ================
      Body
  ================
  */
  .main-container__bg {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright__text {
    display: block;
    text-align: center;
  }  
  
  
  